html, body {
  color: #454444;
  font-family: 'Muli', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  background-color: #fefefe;
  text-align: left;
}
a:link {
    color: rgba(52,58,64,0.9);
}
a:visited {
    color: rgba(52,58,64,0.9);
}
a:hover {
    color: 	#feb916;
    text-decoration: none
}
.header{
	padding-top: .25rem;
	padding-bottom: .25rem;
	background-color: rgba(52,58,64,0.95);
	font-weight: 500;
}
.padmenu {
	  font-size: 1.25rem;
    padding-right: 2rem;
}
.padbottom {
  line-height: .75rem;
  padding: .5rem;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 1.5rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: #6382c6;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px
}
.navbar-toggler {
  padding: 0.25rem 0.25rem;
  margin-right: 0;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: none !important;
	color: #FFF;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 12rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: whitesmoke !important;
  text-align: left;
  list-style: none;
  background-color: rgba(52,58,64,0.85) !important;
  background-clip: padding-box;
  border: none !important;
  border-radius: 0.25rem;
}
.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #b1b4b7 !important;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: whitesmoke !important;
  text-decoration: none;
  background-color: rgba(52,58,64,0.3) !important;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}
.container-bar {
    display: inline-block;
    cursor: pointer
}
.bar1,
.bar3 {
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
    transition: .4s
}
.bar2 {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
    transition: .4s
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px)
}
.change .bar2 {
    opacity: 0
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px)
}
/* Cover */
.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(-90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
    background: -webkit-linear-gradient(-90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3000000', endColorstr='#b3000000', GradientType=1)
}
.cover {
  color: #fff;
  text-align: center;
  padding: 2rem;
  min-height: 38rem;
  background-image: url('/static/images/cover.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
}
.cover-contact {
  color: #fff;
  text-align: center;
  padding: 2rem;
  min-height: 50rem;
  background-image: url('/static/images/contactus.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.cover h2 {
	padding-top: 5rem;
	text-align: left;
}
.cover p {
	text-align: justify;
}
.cover a {
	color: #FFF;
}
.cover a:visited {
	color: #fff;
}
.cover a:hover {
	color: #feb916;
	text-decoration: none;
}
.topo {
  color: whitesmoke;
  min-height: 18.75rem;
  text-align: left;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url('/static/images/desk.jpg');
  background-size: cover;
}
.over h1 {
	padding-top: 7rem;
  text-align: center;
}
.hro {
  border: .5px solid #feb916;
  width: 75%;
}
.hrp {
  border: .5px solid #feb916;
  width: 50%;
}
.bg-card {
  background-color: #fbfcfd !important;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  /* background-color: #fbfcfd !important; */
  background-clip: border-box;
  border: None !important;
  border-radius: 0 !important;
}
.card-deck a {
  color: #000;
}
.card-deck a:hover {
    color: 	#feb916;
    text-decoration: none
}
.form-control {
  background-color: #fbfcfd !important;
  border-bottom: 1px solid #ced4da;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;

}
.strip {
  color: whitesmoke;
  min-height: 4rem;
  text-align: center;
  background-color: rgba(52,58,64,0.95);
  padding: 1.25rem;
}
.stripline {
  min-height: 2rem;
  text-align: center;
  background-color: rgba(52,58,64,0.95);
}
.strip-i {
  color: whitesmoke;
  min-height: 20rem;;
  text-align: center;
  margin: 0px;
  padding: 4rem 1rem;
  background-image: url('/static/images/digital-marketing.jpg');
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.titles {
  position:sticky;
  text-align: center;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(54,54,64,0.6);
}
.hover-p a:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  position: absolute;
  font-size: 1.25rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.strip-h {
	padding: 2rem 0 1rem 0;
	text-align: justify;
}
/* .strip-h .card {
  background-color: transparent !important;
} */

.example {
  border-left: 3px solid #feb916;
  padding: 1rem;
  /* border-top: 0.25px solid gray;
  border-right: 0.25px solid gray;
  border-bottom: 0.25px solid gray; */

}
/* Footer */
.footer {
  color: whitesmoke;
  text-align: center;
  line-height: 1rem;
  vertical-align: middle;
  min-height: 3rem;
  padding-top: 1.5rem;
	padding-bottom: .5rem;
	background-color: rgba(52,58,64,0.95);
}
.footer a:link {
  color: whitesmoke;
}
.footer a:visited {
  color: whitesmoke;
}
.footer a:hover {
	color: #feb916;
	text-decoration: none;
}
