<!doctype html>
{% load static %}
<html lang="pt-br">

  <head>
    <script data-ad-client="ca-pub-9054313226548672" async="async" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400&display=swap" rel="stylesheet">
    <meta name="description" content="SEO & Marketing Digital em São Paulo, criação de websites, landing page, otimização de sites, email marketing e anúncios Google ads.">
    <meta name="robots" content=" index,follow">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/code.min.css' %}">

    <title>
      {% block title %}{{title}}
      {% endblock %}
    </title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#04151a">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

  </head>

  <body>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><img src="{% static 'images/arrowup.png' %}" alt="topo"></button>
    <div class="header shadow-sm sticky-top">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="nav-brand logo" href="{% url 'index' %}"><img src="{% static 'images/MpG_White.png' %}" width="210" alt="MpG_\Adweb! Marketing Digital"></a>
          <a class="navbar-toggler" role="button" data-toggle="collapse" data-target="#hamb" aria-controls="hamb" aria-expanded="false" aria-label="Toggle navigation">
            <div class="container-bar" onclick="myFunction(this)">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </div>
          </a>
          <div class="collapse navbar-collapse" id="hamb">
            <ul class="navbar-nav mx-auto padmenu justify-content-center">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">Sobre</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Serviços</a>
                <div class="dropdown-menu padmenu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'webdesign' %}">Criação de Sites</a>
                  <a class="dropdown-item" href="{% url 'paidads' %}">Links Patrocinados</a>
                  <a class="dropdown-item" href="{% url 'emkt' %}">Email Marketing</a>
                  <a class="dropdown-item" href="{% url 'ivisual' %}">Identidade Visual</a>
                  <a class="dropdown-item" href="{% url 'seo' %}">Otimização SEO</a>
                  <!-- <div class="dropdown-divider"></div> <a class="dropdown-item" href="#">Consultoria TI</a> -->
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contato</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    {% block content %}{% endblock %}
    <div class="bottom">
      <div class="container">
        <h3 class="mt-5">Assessoria & Desenvolvimento</h3>
        <hr class="hrp">
        <div class="row justify-content-md-around">
          <div class="col-md-3">
            <ul class="list-unstyled">
              <li>
                <h5>WebDesign</h5>
              </li>
              <li class="padbottom"><a href="{% url 'webdesign' %}#Blog">Blog</a></li>
              <li class="padbottom"><a href="{% url 'webdesign' %}">Criação de Sites</a></li>
              <li class="padbottom"><a href="{% url 'webdesign' %}#Landing-page">Landing Pages</a></li>
              <li class="padbottom"><a href="{% url 'seo' %}">Otimização SEO</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="list-unstyled">
              <li>
                <h5>Marketing Digital</h5>
              </li>
              <li class="padbottom"><a href="{% url 'emkt' %}">Email Marketing</a></li>
              <li class="padbottom"><a href="{% url 'paidads' %}">Google Ads</a></li>
              <li class="padbottom"><a href="{% url 'seo' %}">Organic Search</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="list-unstyled">
              <li>
                <h5>Identidade Visual</h5>
              </li>
              <li class="padbottom"><a href="{% url 'ivisual' %}">Cartão de Visitas</a></li>
              <li class="padbottom"><a href="{% url 'ivisual' %}">Logotipo</a></li>
              <li class="padbottom"><a href="{% url 'ivisual' %}">Mala Direta</a></li>
              <li class="padbottom"><a href="{% url 'ivisual' %}">Material Gráfico</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="list-unstyled">
              <li>
                <h5>+ Serviços</h5>
              </li>
              <li class="padbottom">Certificado SSL</li>
              <li class="padbottom">Hospedagem de Sites</li>
              <li class="padbottom">Registro Domínios</li>
              <li class="padbottom">Pacotes de Marketing</li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-auto">
            <p class="padbottom">&copy;&nbsp;2019 | Design by
              <a href="mailto:mpgadweb@icloud.com">&nbsp;<img src="{% static 'images/MpG_White.png' %}" height="25" alt="MpG_\Adweb Marketing Digital"></a>
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <script>
      function myFunction(x) {
        x.classList.toggle("change");
      }

      function goBack() {
        window.history.back()
      }
    </script>
    <script>
      window.onscroll = function() {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("myBtn").style.display = "block";
        } else {
          document.getElementById("myBtn").style.display = "none";
        }
      }

      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script>
      new WOW().init();
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>