{% extends "site/base.html" %}
{% load static %}
{% block content %}
<div class="strip-i">
  <div class="container">
    <p class="wow fadeInUp">
      <img src="{% static 'images/MpG_White.png' %}" alt="MpG_\Adweb! Marketing Digital">
    </p>
    <hr class="hrp">
    <h4 class="wow fadeInDown" data-wow-delay="300ms"><small>SEO, Marketing Digital & Consultoria em TI</small></h4>
  </div>
</div>
<div class="strip-h">
  <div class="container">
    <h3 class="m-3 wow fadeInUp">Nosso objetivo é ajudar sua empresa a obter os melhores resultados na Internet.</h3>
    <hr class="hro">
    <p class="wow fadeInUp">É com muita alegria e amor que dou inicio ao site de consultoria e Marketing Digital MpG_\Adweb<i>!</i>,
      realizando um sonho pessoal e profissional de muitos anos. Após +20 anos trabalhando no Mercado Apple, atuando com grandes contas e projetos comerciais.</p>
    <p class="wow fadeInUp" data-wow-delay="100ms">Sempre em constante aprimoramento e especialização nas diversas linguagens de programação, Web Design e Marketing Digital, além de pesquisas de mercado e sempre atualizado com as diretrizes do
      Google, Bing e outras plataformas
      de busca na
      internet.</p>
    <p class="example wow fadeInUp" data-wow-delay="200ms">Criamos experiências on-line de ponta que elevam as marcas, maximizam o ROI e geram conversões. Somos criativos trabalhadores. O Melhor Web Design, SEO e Desenvolvimento de Sites.</p>
    <p class="wow fadeInUp" data-wow-delay="300ms">Oferecendo serviços na web e prestando serviços de manutenção em Hardware e Software, a partir deste momento me coloco à disposição de todos os usuários da marca, dando continuidade a prestação de
      serviços, e suporte a toda
      linha de produtos Apple ( MacPro, iMac, MacBook Pro, MacBook Air, iPhone, iPad e iPod ).
      Meus agradecimentos à marca e às revendas autorizadas com quem atuei nestes +20 anos, e principalmente aos clientes pela confiança e parceria. No mais, espero dar continuidade neste sonho com muito trabalho e dedicação junto a Apple e todos os
      nossos clientes.</p>
    <p class="example wow fadeInUp" data-wow-delay="400ms">Se você está a procura de alguém para criar um planejamento estratégico de marketing para
      seu negócio, nós temos soluções de marketing abrangente que geram resultados.</p>
    <p class="wow fadeInUp" data-wow-delay="500ms">Especializados na gestão e geração de negócios pela Internet através da criação e desenvolvimento de sites (web design, links patrocinados, otimização de sites, assessoria, hospedagem web e web
      marketing – SEO, SEM e SMO).</p>
    <p class="wow fadeInUp" data-wow-delay="600ms">Cuidamos da criação completa de sua Identidade Visual, design de logo marca, website e todo material gráfico, tanto para a midia digital quanto para a midia impressa.</p>

  </div>
</div>
<div class="strip-h">
  <div class="container text-center">
    <h3 class="wow fadeInUp">Alguns projetos</h3>
    <hr class="hro">
    <p class="mb-5 wow fadeInDown"><small>Navegue pelos nossos projetos mais recentes ...</small>
    </p>
  </div>
  <div class="card-columns justify-content-md-between hover-p">
    <div class="container">
      {% for query in qs %}
      <div class="card rounded shadow-sm">
        <a href="Projects/{{query.slug}}">
          <img src="media/{{query.cover1}}" class="card-img-top" alt="{{query.client}}">
          <div class="overlay">
            <div class="text">
              <h3>{{query.client}}</h3><small>{{query.title}}</small>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}