{% extends "site/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="strip-i">
  <div class="container">
    <h1 class="wow fadeInUp">Identidade Visual</h1>
    <hr class="hrp">
    <h4 class="wow fadeInDown" data-wow-delay="300ms"><small>Cause uma impressão!</small></h4>
  </div>
</div>
<div class="strip text-justify">
  <div class="container-fluid">
    <div class="row d-flex justify-content-around mt-3">
      <div class="col-md-5 wow fadeInLeft">
        <h3>Fazendo novos leads pararem e olharem.</h3>
      </div>
      <div class="col-md-5 wow fadeInRight" data-wow-delay="500ms">
        <p>Um cartão de visita tangível e bem projetado ainda é essencial para a identidade de uma empresa moderna.</p>
      </div>
    </div>
  </div>
</div>
<div class="strip-h">
  <div class="container">
    <h2 class="text-center wow fadeInUp">Identidade Visual</h2>
    <hr class="hrp">
    <p class="wow fadeInDown" data-wow-delay="100ms">Com belos recursos visuais, podemos comunicar a mensagem da sua marca de uma maneira única e criativa. A mensagem ressoará com seu público e impulsionará a ação. Do cartão de visita ao site, nossos
      serviços de design de
      logotipo e marca, sua empresa se tornará uma força inesquecível em seu espaço.</p>
    <p class="wow fadeInUp" data-wow-delay="200ms">A base do seu negócio é a sua marca. Faça uma impressão e seja memorável no seu espaço com logotipos personalizados, marcas de trabalho e diretrizes de marca. Criamos logotipos para atender às
      aplicações digitais e de
      impressão.</p>
    <p class="wow fadeInUp" data-wow-delay="300ms mb-5">Chegou a hora de reformular seu logotipo e marca desatualizados com uma estética inovadora e líder do setor que vai virar a cabeça. Não só vai virar a cabeça, mas sua marca será inesquecível no
      seu espaço.</p>

  </div>
  <div class="strip-h">
    <div class="container-fluid">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-4 mb-3 wow fadeInUp" data-wow-delay="100ms">
          <div class="card bg-dark text-white">
            <div class="card-body">
              <h5 class="card-title text-center">Logo & Marca</h5>
              <hr class="hro">
              <p class=" card-text text-justify">Seremos a sua fonte principal de serviços de design de logotipos e marcas. Seu logotipo e materiais da marca precisam se destacar da concorrência em um mercado lotado e formar uma identidade de marca
                memorável.</p>
              <p class=" card-text text-justify">Um logotipo pode transmitir mais do que apenas o que a empresa faz; conta uma história de quem é sua empresa e dá vida ao nome da sua empresa!
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3 wow fadeInUp" data-wow-delay="200ms"">
          <div class=" card bg-secondary text-white">
          <div class="card-body text-center">
            <h5 class="card-title">Cartão de Visitas</h5>
            <hr class="hro">
            <p class="card-text text-justify">Embora grande parte do mundo dos negócios esteja migrando para meios digitais, um cartão de visita tangível e bem projetado ainda é essencial para a identidade de uma empresa moderna.</p>
            <p class=" card-text text-justify">O maior erro (perdendo apenas para não ter um cartão de visita) é entregar um cartão de visita sem imaginação ou com design ruim. Não deixe seu cartão se perder na pilha ou jogado fora! <br> &nbsp;</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 wow fadeInUp" data-wow-delay="300ms"">
          <div class=" card bg-dark text-white">
        <div class="card-body">
          <h5 class="card-title text-center">Identidade Corporativa</h5>
          <hr class="hro">
          <p class=" card-text justify">Nossa design fornece padrões de marca claros e eficazes que refletem diretamente sua identidade corporativa. Desde esquemas de cores e fontes iniciais até espaços em branco e design de logotipo, nossos
            designers o cobrem.</p>
          <p class=" card-text justify">Deixe os serviços de marca, design e consultoria pavimentar o caminho para uma identidade corporativa bem-sucedida.<br> &nbsp;</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center align-items-center mb-3">
    <div class="col-md-4 mb-3 wow fadeInUp" data-wow-delay="400ms"">
          <div class=" card bg-secondary text-white">
      <div class="card-body">
        <h5 class="card-title text-center">Design de grande formato</h5>
        <hr class="hro">
        <p class=" card-text justify">Nossos designs de grande formato incluem letreiros, faixas, outdoors, revestimentos de parede e designs de murais e muito mais.</p>
        <p class=" card-text justify"> Nós cobrimos todos os designs de grande formato que você precisa para exibir seus negócios.<br> &nbsp;</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3 wow fadeInUp" data-wow-delay="500ms"">
          <div class=" card bg-dark text-white">
    <div class="card-body">
      <h5 class="card-title text-center">Design de mala direta</h5>
      <hr class="hro">
      <p class=" card-text justify">Nossas equipes de marketing, design e redação colaboram para garantir que o objetivo de sua campanha de marketing seja refletido em todos os componentes da mala direta.</p>
      <p class=" card-text justify">Enquanto o marketing on-line está decolando, a mala direta continua sendo uma maneira eficaz de comercializar produtos, serviços e ofertas especiais.</p>
    </div>
  </div>
</div>
<div class="col-md-4 mb-3 wow fadeInUp" data-wow-delay="600ms"">
          <div class=" card bg-secondary text-white">
  <div class="card-body">
    <h5 class="card-title text-center">Material Gráfico</h5>
    <hr class="hro">
    <p class=" card-text justify">Imprima sua Identidade Visual em materiais gráficos como: flyer, banner, adesivos, embalagens, artes para Redes Sociais, brindes e muito mais...</p>
    <p class=" card-text justify">Criamos a arte para toda papelaria em geral: envelope, pastas, apresentação e etc. Entregue para seu cliente uma proposta ou contrato em um Papel Timbrado com a identidade da sua empresa.
    </p>
  </div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}