{% extends "site/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="strip-i">
  <div class="container">
    <h1>Email Marketing</h1>
    <hr class="hrp">
    <h4><small>Design Personalizado</small></h4>
  </div>
</div>
<div class="strip text-justify">
  <div class="container-fluid">
    <div class="row d-flex justify-content-around mt-3">
      <div class="col-md-5">
        <h3>O email marketing é uma das melhores estratégias para alcançar e fidelizar seus clientes. </h3>
      </div>
      <div class="col-md-5">
        <p class="justify">O email marketing deve ser visto como uma ferramenta essencial em seu kit de ferramentas de marketing.</p>
      </div>
    </div>
  </div>
</div>
<div class="strip-h">
  <div class="container">
    <h2 class="text-center" id="WebDesign">Email Marketing</h2>
    <hr class="hrp">
    <p class="justify">Agora, com 57% dos usuários navegando a partir de dispositivos móveis, é essencial ter um site compatível com dispositivos móveis que permita que seus clientes acessem rapidamente as informações necessárias e se comunique com
      eles usando tecnologias móveis, como email.</p>
    <p class="justify"><span class="lead">Fique conectado com seus clientes.</span><br>
      O email marketing deve ser visto como uma ferramenta essencial em seu kit de ferramentas de marketing. Podemos ajudá-lo a integrar esse importante método de marketing em seus negócios através do uso de serviços hospedados ou de aplicativos
      baseados na Web sob medida, projetados especificamente para atender às suas necessidades. </p>
    <p class="justify mb-5">O email marketing é uma maneira rápida e fácil de obter as ofertas e informações da sua empresa diante dos seus clientes, com um serviço totalmente hospedado com excelentes taxas de entrega, para ajudar você a começar
      criando
      modelos de email e gerenciar sua lista de emails.</p>
    <div class="row d-flex align-items-center mb-5">
      <div class="col-md-5">
        <img src="{% static 'images/email-marketing.png' %}" class="img-fluid" alt="Email Marketing">
      </div>
      <div class="col-md-5">
        <p class="example lead">Desde startups até pequenas empresas e a Fortune 500, cobrimos o crescimento de e-mails desde a estratégia até a implantação!</p>
      </div>
    </div>
    <p class="justify"><span class="lead">Menor custo</span> <br>
      O email marketing é uma das estratégias de mais baixo custo, se comparado a outras midias, como TV, jornais ou revistas.</p>
    <p class="justify"><span class="lead">Relatórios</span> <br>Com relatórios completos é possível saber quantas pessoa abriram o email, quem e quantas vezes vezes clicou nos links.</p>
    <p class="justify"><span class="lead">Personalizado</span> <br>Layouts personalizaveis, contendo imagens e links.</p>
    <p class="justify">Muitos ainda pensam que, com o tráfego intenso nas redes sociais, o email tenha se tornado um canal obsoleto. <br>Esse é um grande equívoco. <br>A metodologia do inbound marketing está aí para provar o contrário. Através
      dessa
      estratégia, o email se mantém como um canal utilizado em larga escala e é de suma importância para a interação com a audiência.</p>
  </div>
</div>
{% endblock %}