{% extends "site/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="strip-i">
    <div class="container">
      <h1 class="wow fadeInUp">Google Ads</h1>
      <hr class="hrp">
      <h4 class="wow fadeInDown" data-wow-delay="300ms">
        <small>Paid Search & Local Search</small>
      </h4>
    </div>
  </div>
  <div class="strip text-justify">
    <div class="container-fluid">
      <div class="row d-flex justify-content-around mt-3">
        <div class="col-md-5 wow fadeInLeft">
          <h3>O segredo de uma campanha bem-sucedida no Google Ads não são impressões.</h3>
        </div>
        <div class="col-md-5 wow fadeInRight" data-wow-delay="500ms">
          <p class="justify">É o número de conversões e quanto você paga por isso. Fazemos o gerenciamento do Google Ads. Toda plataforma de marketing deve ser usada como uma ferramenta de negócios. Portanto, se você não está avaliando suas conversões, retorno
            do investimento e custo por aquisição, como saber se é bem-sucedido?</p>
        </div>
      </div>
    </div>
  </div>
  <div class="strip-h">
    <div class="container">
      <h2 class="text-center wow fadeInUp">Links Patrocinados</h2>
      <hr class="hrp">
      <p class="wow fadeInDown" data-wow-delay="100ms">Não é o tamanho dos seus gastos, é como você os usa. Determine seu custo por aquisição. É simples: precisamos saber quanto vale um usuário para poder determinar quanto devemos gastar para adquiri-lo.
        Se pagarmos mais do que um usuário vale à sua empresa, você estará perdendo dinheiro.</p>
      <p class="wow fadeInUp" data-wow-delay="200ms">
        <b>Estratégia de Keyword</b>. Você está oferecendo as keywords certas? Entenda como seus usuários buscam seu produto e corresponda às intenções deles.
        <br>
        <b>Negativando keywords</b>. Monitore os termos de pesquisa que acionam seus anúncios e negative quaisquer modificadores irrelevantes. Se você perder esta etapa, pode ser caro.
        <br>
        <b>Landing Pages de qualidade</b>. Você pode pagar para estar no topo da página de resultados de pesquisa, mas se sua página de destino não fornecer as informações que seu usuário está procurando, você não converterá.<a name="Organic"></a>
      </p>
      <p class="wow fadeInUp" data-wow-delay="300ms">Os links patrocinados são exibidos no topo dos resultados de pesquisa do Google. Quando eventuais clientes pesquisam por produtos ou serviços que você oferece. E você paga somente quando alguém clicar no
        seu anúncio, visitar seu site ou ligar para a sua empresa.</p>
      <p class="example wow fadeInRight" data-wow-delay="400">
        <span class="lead">Organic Search</span>
        <br>Na Pesquisa Orgânica do Google, para aparecer no topo das pesquisas - logo após os links patrocinados - é preciso uma excelente estratégia de SEO, o seu site precisa estar em conformidade com todas as diretrizes do Google.
      </p>
      <p class="wow fadeInUp" data-wow-delay="500ms">Se o seu negócio é local, sua empresa pode aparecer no topo da lista no formato do Mapas do Google, com fotos e todas as informações de seu negócio.
        <br>Nossa estratégia também inclui o Bing Places e Yahoo, além do Apple Maps e vários portais importantes, onde os potenciais clientes possam buscar pelo seus serviços ou produtos.</p>
    </div>
  </div>
  <div class="strip">
    <div class="container">
      <h3 class="wow fadeInUp" data-wow-delay="600ms">Google Ads: Display Network ou Search Network</h3>
      <hr class="hrp">
      <small class="wow fadeInDown" data-wow-delay="600ms">Cada rede do Google tem um tipo específico de anúncio que pode ser exibido.</small>
    </div>
  </div>

  <div class="strip-h text-left mb-4">
    <div class="container-fluid">
      <div class="row bg-white shadow">
        <div class="col-md-6 wow fadeInUpBig">
          <div class="card-body">
            <p class="lead text-center">Search Network</p>
            <hr class="hrp">
            <p>Quando você pensa no Google Ads, provavelmente está pensando em anúncios da Rede de Pesquisa do Google.</p>
            <p>Estes são os anúncios baseados em texto que aparecem ao lado dos resultados da pesquisa, à medida que as pessoas pesquisam produtos ou serviços relacionados e têm a tag "Anúncio" ao lado do URL do resultado da pesquisa. O nome refere-se aos
              resultados de pesquisa de rede que você obtém para uma palavra-chave ou termo de pesquisa específico</p>
            <p>Os anúncios da Rede de Pesquisa são acionados por palavras-chave, se a consulta de pesquisa de um usuário corresponder a uma de suas palavras-chave, seu anúncio poderá aparecer acima ou ao lado dos resultados da pesquisa orgânica. Eles funcionam
              com base no pagamento por clique (PPC), ou seja, você paga apenas quando alguém clica no seu anúncio.</p>
          </div>
        </div>
        <div class="col-md-6 wow fadeInUpBig">
          <div class="card-body">
            <p class="lead text-center">Display Network</p>
            <hr class="hrp">
            <p class="justify">Anúncios gráficos são anúncios exibidos na Rede de Display do Google.
              <br>A Rede de Display do Google é o conjunto de sites de terceiros que concordaram em exibir anúncios do Google. Mas não pense que isso limita suas opções. Estamos falando de mais de 2 milhões, para ser exato, atingindo 90% dos usuários da Internet.</p>
            <p class="justify">Os anúncios gráficos não são apenas para sites e podem aparecer nos seguintes formatos:</p>
            <ul>
              <li>Texto: - exibe um título, duas linhas de texto e um URL.</li>
              <li>Faixa: - inclui imagens e rich media, para que animações e layouts personalizados possam ser usados.</li>
              <li>Gmail: - aparece na caixa de entrada do Gmail.</li>
              <li>Aplicativos: - segmenta categorias específicas de aplicativos para dispositivos móveis</li>
              <li>YouTube: aparecem nos vídeos do YouTube antes do início dos vídeos e durante as quebras de anúncio.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}