{% extends "site/base.html" %}
{% load static %}
{% block content %}
<div class="strip-i d-flex align-items-center">
  <div class="container">
    <h3 class="display-4">Como podemos ajudar hoje?<br></h3>
  </div>
</div>
<div class="strip-h">
  <div class="container">
    <h2 class="text-center" id="GoogleAds">Web Design</h2>
    <hr class="hrp">
    <p></p>
  </div>
</div>
<div class="stripline"></div>

<div class="strip-h">
  <div class="container">
    <h2 class="text-center" id="WebDesign">Web Design</h2>
    <hr class="hrp">
    <p>Especializado em projetar e desenvolver sites que empresas como a sua podem gerenciar e atualizar sem nenhum conhecimento técnico, usando sistemas de gerenciamento de conteúdo.</p>
    <p>É importante para nós que nossos clientes possam competir on-line com um site que atenda às suas necessidades, sem custos exorbitantes de manutenção. Oferecemos uma variedade de soluções de suporte a sites para fornecer ao seu site a melhor
      base
      possível para impulsionar seus negócios.</p>
    <p>Com mais de 60% dos visitantes navegando agora a partir de dispositivos móveis <small>(Ofcom, 2015)</small>, é essencial ter um site otimizado para smartphone ou tablet que permita que seus clientes acessem informações rapidamente sem a
      necessidade de aumentar o zoom. <br> Todos os sites que desenvolvemos são compatíveis com dispositivos móveis, e seguem as diretrizes do Google, garantindo que você possa alcançar seus clientes em qualquer dispositivo.</p>
    <p class="example"><span class="lead">Análise SEO</span> <br>Identificamos se existem problemas de SEO no seu site que impeçam um melhor ranqueamento nos mecanismos de buscas. <br> Como por ex.: Google, Bing e Yahoo.</p>
  </div>
</div>
<div class="strip-h text-center mb-4">
  <div class="container">
    <div class="row no-gutters bg-white shadow">
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">Tenha um site do jeito que você imaginar!</h5>
          <p class="card-text text-left">
            <span class="lead"> ~ Personalizado</span><br>
            Tenha um site personalizado com design exclusivo para transmitir a identidade de sua marca, ou aperfeiçoamos seu site atual. Vamos trabalhar juntos para o seu
            próximo projeto.
          </p>
          <p class="card-text text-left">
            <span class="lead"> ~ Responsivo</span><br>
            60% dos brasileiros usam um smartphone para fazer as buscas na internet. Nossos layouts seguem as diretrizes do Google (mobile-first).
          </p>
          <p class="card-text text-left">
            <span class="lead"> ~ Otimizado</span><br>
            Todos os nossos projetos são otimizados para SEO, todo o conteúdo é preparado para estar no topo do ranqueamento dos buscadores.
          </p>
        </div>
      </div>
      <div class="col-md-6"> <img src="{% static 'images/computer.jpg' %}" class="img-fluid" alt="...">
      </div>
    </div>
  </div>
</div>
{% endblock %}