{% extends "site/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="strip-i">
  <div class="container">
    <h1>Website Design</h1>
    <hr class="hrp">
    <h4><small>Criação de Sites</small></h4>
  </div>
</div>
<div class="strip text-justify">
  <div class="container-fluid">
    <div class="row d-flex justify-content-around mt-3">
      <div class="col-md-5">
        <h3>No mundo digital, um site de sucesso é uma ferramenta essencial.</h3>
      </div>
      <div class="col-md-5">
        <h4>A presença on-line da sua empresa.</h4>
        <p class="justify">Nossos sites são incríveis, fáceis de usar e direcionam as operações de nossos clientes. Transformamos as experiências on-line porque nos orgulhamos de nosso trabalho e apoiamos nossos produtos.</p>
      </div>
    </div>
  </div>
</div>
<div class="strip-h">
  <div class="container">
    <h2 class="text-center" id="WebDesign">Criação de Sites</h2>
    <hr class="hrp">
    <p>Especializado em projetar e desenvolver sites que empresas como a sua podem gerenciar e atualizar sem nenhum conhecimento técnico, usando sistemas de gerenciamento de conteúdo.</p>
    <p>É importante para nós que nossos clientes possam competir on-line com um site que atenda às suas necessidades, sem custos exorbitantes de manutenção. Oferecemos uma variedade de soluções de suporte a sites para fornecer ao seu site a melhor
      base
      possível para impulsionar seus negócios.</p>
    <p>Com mais de 60% dos visitantes navegando agora a partir de dispositivos móveis <small>(Ofcom, 2015)</small>, é essencial ter um site otimizado para smartphone ou tablet que permita que seus clientes acessem informações rapidamente sem a
      necessidade de aumentar o zoom. <br> Todos os sites que desenvolvemos são compatíveis com dispositivos móveis, e seguem as diretrizes do Google, garantindo que você possa alcançar seus clientes em qualquer dispositivo.</p><a
      name=Landing-page></a <p>>Seu site com performance excelente em qualquer dispositivo (Computador, Tablet, Smartphone), dessa forma a navegação do site e a interatividade com usuário não serão prejudicadas.</p>
    <p class="example lead">Landig Page</p>
    <p>A Landing page é uma das ferramentas mais essenciais para o marketing digital e, claro, para a venda de produtos. São usadas, geralmente, para oferecer algum conteúdo de valor em troca das informações de contato do visitante, com
      o objetivo de
      transformá-lo em cliente, mais tarde.Uma das vantagens dessa ferramenta é que ela é aplicável para qualquer tipo de negócio.</p>
    <p>Um erro muito comum para empreendedores que estão começando é confundir a homepage do site com a landing page quando, na verdade, as duas páginas têm funções bem diferentes. <a name=Blog></a>A homepage é a primeira página que o usuário acessa
      ao
      entrar em seu site. Ela possui um menu para direcionar o visitante para outras áreas que possam interessar a ele: falar sobre o que sua empresa faz, informações de contato, etc.<br>Diferente da home de seu site, a landing Page
      precisa ter
      apenas o conteúdo necessário para que seu cliente execute a ação determinada.</p>
    <p class="example lead">Blogs</p>
    <p>Um Blog é uma das ferramentas usadas em inbound marketing e um dos canais mais utilizados para criar conteúdos relevantes. A partir dele, é possível produzir materiais relevantes, atraindo tráfego qualificado e potencialmente levando à
      conversão.</p>
    <p>o Blog corporativo é um território todo seu, que tem um papel fundamental na divulgação do seu trabalho e na captação de clientes.</p>
    <p>O blog corporativo ajuda a construir autoridade digital. Ao proporcionar conteúdo útil para o leitor e publicar textos ou vídeos que tiram as dúvidas dele, uma relação de confiança começa a ser construída.</p>
    <p>Logo, a sua página começará a ser recomendada às outras pessoas como uma fonte segura de pesquisa sobre o tema que costuma abordar.</p>
    <p>É comprovado que o email marketing é uma estratégia campeã em conversões. Então, quando as pessoas se inscrevem no seu blog, estão dando a você uma permissão direta para usar essa estratégia.</p>
  </div>
</div>
<div class="strip-h text-center mb-4">
  <div class="container-fluid">
    <div class="row no-gutters bg-white shadow">
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">Tenha um site do jeito que você imaginar!</h5>
          <hr class="hrp">
          <p class="card-text text-left">
            <span class="lead"><small> &#8640; </small> Personalizado</span><br>
            Tenha um site personalizado com design exclusivo para transmitir a identidade de sua marca, ou aperfeiçoamos seu site atual. Vamos trabalhar juntos para o seu
            próximo projeto.
          </p>
          <p class="card-text text-left">
            <span class="lead"> <small> &#8640; </small> Responsivo</span><br>
            60% dos brasileiros usam um smartphone para fazer as buscas na internet. Nossos layouts seguem as diretrizes do Google (mobile-first).
          </p>
          <p class="card-text text-left">
            <span class="lead"> <small> &#8640; </small> Otimizado</span><br>
            Todos os nossos projetos são otimizados para SEO, todo o conteúdo é preparado para estar no topo do ranqueamento dos buscadores.
          </p>
        </div>
      </div>
      <div class="col-md-6"> <img src="{% static 'images/computer.jpg' %}" class="img-fluid" alt="...">
      </div>
    </div>
  </div>
</div>


{% endblock %}